/**
 * --------------------------------------------------------------------------------
 * Footer & Buttom-Bar style
 * --------------------------------------------------------------------------------
*/

.footer {
	background-color: #020202;
	padding: 4.8rem 0;

	.widget-footer-left{
		color:#fff;
		padding: 1.6rem 0;
	}
	.recent-posts{
		
		h5{
			color:#fff;
			border-bottom: 0;
			font-size: 2.4rem;
			font-weight: 700;
			margin-bottom: 2.6rem;
			margin-top: .2rem;
		}
		h2{
			color:#fff;
		}
		
	}
	.pupolar-posts{
		
		h5{
			color:#fff;
			border-bottom: 0;
			font-size: 2.4rem;
			font-weight: 700;
			margin-bottom: 2.6rem;
			margin-top: .2rem;
		}
		h2{
			color:#fff;
		}
	}	
}

.buttom-bar {

		background-color: #020202;
		padding: 1.6rem 0;
		border-top: solid 1px;

		.right-side-cp-text{
			color:#fff;
			p{
				margin-bottom: 0;
				font-size: 1.4rem;
				line-height: 2.6rem;
			}
		}

		.right-side-privacy {
			float: right;
			color:#fff;
			p {
				margin-bottom: 0;
				font-size: 1.4rem;
				line-height: 2.6rem;
			}
		}
	}