
/**
 * --------------------------------------------------------------------------------
 * single page style 
 * --------------------------------------------------------------------------------
*/

.single-post-text {

    background-color: #fff;

    p {
		font-size: 1.8rem;
		line-height: 2.6rem;
		padding: 1.5rem;
	}
}
.size-full {
    width: 100%;
	height: auto;
	}