/**
 * --------------------------------------------------------------------------------
 * Body Commons
 * --------------------------------------------------------------------------------
*/

.marquee {
	padding: 1.6rem 0;
	margin: 1.6rem 0;
	overflow: hidden;
}

.js-marquee {
	a {
		padding: 0 2.4rem;
	}
}

.big-category-section {
	width: 48%;
	float: left;
	margin-right: 2%;
}

.list-type-categories {
	width: 50%;
	float: left;
}

.left-content {
    float: left;
    width: 30%;
}

.right-contents {
    float: left;
    width: 68%;
    margin-left: 2%;

    h2 {
    	font-size: 1.6rem !important;
    	font-weight: 700;
    	margin-bottom: 0;
    	margin-top: 0 !important;
    }

    p {
    	font-size: 1.3rem;
    }
}
.section-two{
	.title {
		color: $white-color;
		background-color: $green-color;
		font-weight: 700;
		padding: .5rem 1rem;
	}

	hr {
		border: 1px solid $green-color;
		margin-top: 0;
	}

	.post-info {
		margin-bottom: .8rem;
	}
}

.section-three {
	.post-item {
		width: 49%;
		float: left;
		margin-right: 1%;
	}

	.big-category-section {
		h2 {
			margin-top: 1rem;
		}
	}

	.post-item:last-child {
		margin-right: 0;
		margin-left: 1%;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 700;
		margin-top: 1rem;
		margin-bottom: .5rem;
	}

	.title {
		color: $white-color;
		background-color: $red-color;
		font-weight: 700;
		padding: .5rem 1rem;
	}

	hr {
		border: 1px solid $red-color;
		margin-top: 0;
	}

	.post-info {
		margin-bottom: .8rem;
	}
}

.section-four{
	.title {
		color: $white-color;
		background-color: $dark-color;
		font-weight: 700;
		padding: .5rem 1rem;
	}

	hr {
		border: 1px solid $dark-color;
		margin-top: 0;
	}

	.post-info {
		margin-bottom: .8rem;
	}
}

.more-fancy-h{
	h5 {
		position: relative;
		text-align: center;
	}

	.more-skew {
		background: #ff005b;
		color: #fff;
		font-weight: 700;
		margin: 20px;
		display: inline-block;
		padding: 0 15px;
		transform: skewX(-10deg);
	}

	h5:before {
		content: "";
		background: #ff005b;
		display: block;
		height: 2px;
		position: absolute;
		top: 50%;
		width: 100%;
	}

	h5:before {
	  left: 0;
	}
}