/**
 * --------------------------------------------------------------------------------
 * Grid banner
 * --------------------------------------------------------------------------------
*/

.section-one {

	h3 {
		font-weight: 700;
	}

	.x-large,
	.medium-post-section,
	.full-post,
	.small-post {
		position: relative;
		overflow: hidden;
	}

	.x-large,
	.medium-post-section,
	.small-post {
		float: left;
	}

	.x-large {
		width: 62.4%;
		margin-right: .1%;
	}

	.slide-banner {
		position: relative;
		overflow: hidden;
		height: 40rem;
	}

	.medium-post-section {
		width: 37.4%;
		margin-left: .1%;

		.full-post {
			height: 24.7rem;
			font-size: 2.4rem;
			margin-bottom: .3rem;

			h3 {
				font-size: 2.4rem;
			}
		}

		.small-post {
			width: 49.7%;
			height: 15rem;
			margin-right: .3%;

			&:last-child {
				margin-right: 0;
				margin-left: .3%;
			}

			h3 {
				font-size: 1.6rem;
			}
		}
	}
}

.post-content {
	color: $white-color;
	padding: 0 1rem;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.slide-nav {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;

	div {
		display: inline-block;
	}

	.slide-prev {
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	.slide-next {
		border-bottom-left-radius: 2px;
	}
}

.slide-next {

	background-color: $white-color;
	padding: 0 1rem;
	cursor: pointer;
	float: left;

	&:after {
		content: "\f105";
		color: $dark-color;
	    font: normal normal normal 2.4rem/1 FontAwesome;
	}
}

.slide-prev {

	background-color: $white-color;
	margin-right: .2rem;
	padding: 0 1rem;
	cursor: pointer;
	float: left;

	&:after {
		content: "\f104";
		color: $dark-color;
	    font: normal normal normal 2.4rem/1 FontAwesome;
	}
}
