/**
 * --------------------------------------------------------------------------------
 * side-Bar style
 * --------------------------------------------------------------------------------
*/

.sidebar {
    background: rgb(255, 255, 255);
    border-color: black;
    box-shadow: 0 1px 1px 0 rgba(0,1,1,.1);
	padding: 3.5rem 3rem;
    
    .list-item {
		border-bottom: .1rem solid rgb(239, 239, 239);
		padding-bottom: 10px;
    	margin-bottom: 10px;
		display: inline-block;
		p{
			margin-bottom: 0rem;
		}
    }
}

