/**
 * --------------------------------------------------------------------------------
 * side-Bar style
 * --------------------------------------------------------------------------------
*/

.sidebar {
    background: rgb(255, 255, 255);
    border-color: black;
    box-shadow: 0 1px 1px 0 rgba(0,1,1,.1);
    padding: 35px 40px;
}